.scroll-indicator-mini {
  padding: 2px 11px;
  border-radius: 0 0 4px 0;
  font-size: 13px;
  font-weight: 900;
}

.on-content {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.on-page {
  position: fixed;
  left: 0px;
  top: 63px;
}
