.toc-container {
  position: sticky;
  right: 0;
  top: 0;
  height: 100%;

  .toc-open-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px 14px;
    border-radius: 0 0 0 4px;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 1000;

    &::before {
      content: 'TOC';
    }
  }

  .toc-content {
    position: fixed;
    top: 10px;
    right: -380px;
    width: 380px;
    height: calc(100% - 22px);
    border: 2px solid #ebebeb;
    border-right: none;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    box-shadow: -4px 4px 0 0 rgba(0, 0, 0, 0.045);
    background: #fff;
    color: #34495e;
    overflow-x: auto;
    z-index: 1000;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .toc {
      height: 100%;
      padding: 20px 10px 30px 25px;
      box-sizing: border-box;
      font-size: 90%;
      line-height: 1.5;
      overflow: auto;

      ul {
        margin: 0;
        padding-left: 16px;
        font-weight: 700;
        list-style-type: none;
        overflow: visible;
        list-style-position: outside;
        list-style-image: none;
        ul {
          ul {
            font-weight: 400;
          }
        }
      }

      li {
        display: list-item;
        list-style-type: none;
        padding: 2px;
      }

      a {
        color: #34495e;
      }

      &::before {
        content: 'Table Of Contents';
        margin: 10px 0 20px;
        display: block;
        color: #ebebeb;
        text-align: center;
        font-size: 1.4em;
        font-weight: 900;
      }

      &::after {
        content: 'The End';
        margin: 20px 0 10px;
        display: block;
        color: #ebebeb;
        text-align: center;
        font-size: 1.4em;
        font-weight: 900;
      }
    }

    &.open {
      right: 0px;
    }
  }
}

// @media (max-width: 1350px) {
//   .toc-container {
//     display: none;
//   }
// }
