@import '../../styles/responsive-device.scss';

.switch-container {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.4s linear;

  .icon {
    text-align: center;
    color: #222;
    font-size: 14px;
    font-weight: 900;
  }
}

@include desktop {
  .switch-container {
    right: 50px;
    bottom: 50px;
  }
}

@include tablet-portrait {
  .switch-container {
    right: 30px;
    bottom: 30px;
  }
}

@include tablet {
  .switch-container {
    right: 10px;
    bottom: 10px;
  }
}

@include mobile {
  .switch-container {
    right: 5px;
    bottom: 5px;
  }
}
