@import '../../styles/responsive-device.scss';

.category-side-wrapper {
  position: fixed;
  left: 120px;
  top: 200px;
}

.item {
  cursor: pointer;

  &[aria-selected='true'] {
    font-weight: bolder;
  }
}

@include tablet {
  .category-side-wrapper {
    display: none;
  }
}

@include mobile {
  .category-side-wrapper {
    display: none;
  }
}
