@import '../../styles/responsive-device.scss';

.category-side-wrapper {
  position: fixed;
  top: 250px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;

  .category-side-container {
    margin: 0 64px;
    width: 100%;
    max-width: 1342px;

    .category-side {
      width: 250px;

      h3 {
        font-size: 120%;
      }

      .category-side-list {
        list-style-type: none;
        .item-side {
          font-size: 95%;
          font-weight: 600;
          background: linear-gradient(
            to right,
            #806854,
            #806854 50%,
            #dbcdad 50%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200% 100%;
          background-position: 100%;
          transition: background-position 0.5s ease;
          cursor: pointer;
          overflow: hidden;

          &:hover {
            background-position: 0 100%;
          }

          &[aria-selected='true'] {
            background: #806844;
            background-clip: text;
          }
        }
      }
    }
  }
}

@media (max-width: 1248px) {
  .category-side-wrapper {
    display: none;
  }
}
