@import '../../styles/variables.scss';

.landingBio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 65vh;
  overflow: hidden;

  .landingBio-wrapper {
    text-align: center;

    .author-image {
      margin-bottom: 0;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    .nameHeader {
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding-bottom: 0.3em;
      border-bottom: 0;
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 5%;
      font-size: 2.7rem;
      font-family: 'Kurale';
      text-decoration: none;
    }

    .introduction {
      padding: 0;
      margin-bottom: 1rem;
      font-size: 0.85rem;
    }

    .author-socials {
      margin-top: 4px;
    }

    a {
      margin-right: 8px;
      font-size: 80%;

      &.visited {
        text-decoration: none;
      }
    }
  }
}

body.light .nameHeader {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000000' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

body.dark .nameHeader {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}
