.fireworkIcon {
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/fireworks.png');
  background-size: contain;
}

.nomalIcon {
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/nomal.png');
  background-size: contain;
}
